@import "tailwindcss";
@tailwind utilities;

:root {
  --gold: #A07F3A;
  --wheat: #C8AA6F;
  --charcoal: #2F2F2F;
  --sand: #E3D5BB;
  --black: #000000;
}

body {
  background-color: var(--sand); /* El color crema de fondo */
  color: var(--charcoal);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



